.ColumnsName {
    text-align: center;
  }
  .ColumnsAverage {
    text-align: center;
  }
  .TableData {
    padding: 20px;
    border-radius: 5px;
    background: rgb(224, 224, 223);
  }
  .RowSum {
    padding: 20px;
    border-radius: 5px;
    background: rgb(250, 149, 54);
  }
  .ColumnAverage {
  }
  