.TableColumnIndices {
  text-align: center;
  font-weight: bold;
}
.TableRowIndices {
  text-align: center;
  font-weight: bold;
}
.TableRowData {
  text-align: center;
  padding: 15px;
  margin: 15px;
  border-radius: 5px;
  background: rgb(103, 218, 249);
  cursor: pointer;

  &:hover {
    background: black;
    color: yellow;
  }
}
.TableRowClosestHover {
  background: yellowgreen;
  transition: 0.3s all 0.1s ease-in;
}
.TableRowSum {
  font-weight: bold;
  text-align: center;
  padding: 15px;
  margin: 15px;
  border-radius: 5px;
  background: rgb(227, 150, 18);
  cursor: pointer;
}
.TableAverageName {
  text-align: center;
  font-weight: bold;
}
.TableColumnAverage {
  text-align: center;
  font-weight: bold;
  &:not(:first-child) {
    text-align: center;
    padding: 15px;
    margin: 15px;
    border-radius: 5px;
    background: rgb(227, 150, 18);
    cursor: pointer;
  }
}
.TableColumnAverageSum {
  text-align: center;
  font-weight: bold;
  padding: 15px;
  margin: 15px;
  border-radius: 5px;
  background: rgb(227, 150, 18);
  cursor: pointer;
}
