.TableColumnIndices {
  text-align: center;
  font-weight: bold;
}
.TableRowIndices {
  text-align: center;
  font-weight: bold;
}
.TableRowData {
  text-align: center;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  background: rgb(103, 218, 249);
}
.TableRowSum {
  font-weight: bold;
  text-align: center;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  background: rgb(227, 150, 18);
}
.TableColumnAverage {
  text-align: center;
  font-weight: bold;
  &:not(:first-child) {
    text-align: center;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    background: rgb(227, 150, 18);
  }
}
