.CreateTable {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.CreateTableContainer {
  padding: 45px 128px;
  background: rgb(39, 165, 157);
}

.RowIndex {
  display: flex;
  align-items: center;
  color: rgb(255, 255, 255);
  text-align: center;
}
.ColomnIndex {
  display: flex;
  align-items: center;
  color: rgb(255, 255, 255);
  text-align: center;
}
.CellValue {
  display: flex;
  align-items: center;
  padding: 15px;
  margin: 15px;
  text-align: center;
  cursor: pointer;
  border: 2px solid white;
  color: yellow;
  border-radius: 5px;
}
.RowSum {
  display: flex;
  align-items: center;
  padding: 15px;
  margin: 15px;
  text-align: center;
  cursor: pointer;
  border: 2px solid white;
  color: yellow;
  border-radius: 5px;
}
.ColumnAverage {
}
