.Button {
  max-width: 200px;
  margin: 0 auto;
  margin-top: 15px;
  padding: 15px 30px;
  text-align: center;
  border-radius: 10px;
  color: #000;
  transition: linear 0.2s;
  font-weight: 600;
  cursor: pointer;
  &:hover {
    color: red;
  }
}
